/* CSS declarations go here */
body {
  background-color: #FAFAFA;
  background-size: cover;
  margin: 0;


}
.card-container{
  background-repeat: no-repeat;
  background-size: auto;
  height: 400px;
}

.game-status {
  background-color: lightgray;
  border-bottom: solid 1px gray;
  font-size: larger;
  display: flex;
  padding: 10px;
  text-align: center;;
  flex-direction: column;
  justify-content: space-around;
}
.scrollable-list {
  height: 300px;
  overflow-y:scroll;
}

.bottom-info {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center
}
