* {
  font-family: Raleway, serif;
}

body , html , #render-target {
  margin: 0;
  height: 100%;
}

.background {
  margin: 0;
  height: 100%;
  background: url('../images/background.jpg') no-repeat ;
  background-size: cover;
  top:0;
  bottom: 0;
}
