
h1 {
  color : gray;
  opacity: 0.5;
  margin: 10px;
}
h3 {
  color : lightgray;
  opacity: 0.5;
  margin: 0;

}

.paper {
  height: 600px;
  width: 1100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.15);
}
.rear {
  transform: rotate(-3deg);

}
.text {
  margin-top: 120px;
}
.content {
  text-align: center;
  margin: auto;
  width   : 100%;
  height  : 20%;
  position: relative;
  z-index : 1;
}

.content:before {
  content : "";
  position: absolute;
  left    : 33%;
  bottom  : 0;
  height  : 1px;
  width   : 33%;  /* or 100px */
  border-bottom:2px solid rgba(0, 0, 0, 0.05);
}
